# Phase 1 - Foundation - Resource Group, Networking, Logging & Key Vault
name: Terraform Foundation Infrastructure Deployment
on:
  workflow_dispatch:

jobs:
  Terraform-Foundation-Infrastructure-Deployment:
    name: Terraform-Foundation-Infrastructure-Deployment
    runs-on: ubuntu-latest
    outputs:
      env_name: ${{ steps.detect-env.outputs.env }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      # Determine Branch
      - name: Determine Environment Based On Branch
        id: detect-env
        run: |
          if [ "${{ github.event_name }}" == "pull_request" ]; then
            BRANCH="${{ github.base_ref }}"
          else
            BRANCH="${{ github.ref_name }}"
          fi

          case "$BRANCH" in
            dev) ENV="dev" ;;
            staging) ENV="staging" ;;
            main) ENV="production" ;;
            *) echo "Invalid branch: $BRANCH"; exit 1 ;;
            esac

          TFVARS_FILE="environments/${ENV}/${ENV}.tfvars"

          echo "ENV=$ENV" >> $GITHUB_ENV
          echo "TFVARS_FILE=$TFVARS_FILE" >> $GITHUB_ENV
          echo "env=$ENV" >> $GITHUB_OUTPUT

          echo "Environment: $ENV"
          echo "Using TFVARS File: $TFVARS_FILE"

      # Confirm TFVARS exists
      - name: Confirm TFVARS File
        run: |
          if [ ! -f "${{ env.TFVARS_FILE }}" ]; then
            echo "Unable To Find: ${{ env.TFVARS_FILE }}"
            exit 1
          fi
          echo "Found: ${{ env.TFVARS_FILE }}"

      # Clear Cahce
      - name: Clear Cache
        run: |
          echo "Cleaning Cache..."

          rm -rf .terraform
          rm -f .terraform.lock.hcl

          rm -rf environments/${ENV}/.terraform
          rm -f environments/${ENV}/.terraform.lock.hcl

          echo "Cleanup Complete"

      # Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: latest

      #  List Modules
      - name: List Module Folders
        run: ls -l Modules/

      # Determine Branch Enviroment &  Backend Variables For Deployment
      - name: Determine Branch Environment Variables
        run: |
          BACKEND_FILE="environments/${ENV}/backend.tfvars"

          if [ ! -f "$BACKEND_FILE" ]; then
           echo "Backend TFVARS file not found: $BACKEND_FILE"
           exit 1
          fi

           RG=$(grep -E '^state_resource_group_name' "$BACKEND_FILE" | awk -F'=' '{print $2}' | xargs)
           SA=$(grep -E '^state_storage_account_name' "$BACKEND_FILE" | awk -F'=' '{print $2}' | xargs)
           CONTAINER=$(grep -E '^state_storage_container_name' "$BACKEND_FILE" | awk -F'=' '{print $2}' | xargs)
           KEY=$(grep -E '^state_key_deployment' "$BACKEND_FILE" | awk -F'=' '{print $2}' | xargs)

           RG="${RG//$'\r'/}"
           SA="${SA//$'\r'/}"
           CONTAINER="${CONTAINER//$'\r'/}"
           KEY="${KEY//$'\r'/}"

           echo "RG_NAME=$RG" >> $GITHUB_ENV
           echo "STORAGE_ACCOUNT_NAME=$SA" >> $GITHUB_ENV
           echo "STORAGE_CONTAINER_NAME=$CONTAINER" >> $GITHUB_ENV
           echo "STATE_KEY_DEPLOYMENT=$KEY" >> $GITHUB_ENV

        # Confirm Backend exists
      - name: Confirm TFVARS File
        run: |
          if [ ! -f "${{ env.TFVARS_FILE }}" ]; then
            echo "Unable To Find: ${{ env.TFVARS_FILE }}"
            exit 1
          fi
          echo "Found: ${{ env.TFVARS_FILE }}"

        # Confirm Backend Variables
      - name: Confirm Backend Variables
        run: |
          echo "Resource Group Name       : ${{ env.RG_NAME }}"
          echo "Storage Account Name      : ${{ env.STORAGE_ACCOUNT_NAME }}"
          echo "Storage Container Name    : ${{ env.STORAGE_CONTAINER_NAME }}"
          echo "Terraform Deployment State Key       : ${{ env.STATE_KEY_DEPLOYMENT }}"

      # List Modules
      - name: Modules
        run: ls -l modules/

      # Terraform Init
      - name: Initialize Terraform
        working-directory: .
        run: |
          terraform init -reconfigure \
            -backend-config="resource_group_name=${{ env.RG_NAME }}" \
            -backend-config="storage_account_name=${{ env.STORAGE_ACCOUNT_NAME }}" \
            -backend-config="container_name=${{ env.STORAGE_CONTAINER_NAME }}" \
            -backend-config="key=${{ env.STATE_KEY_DEPLOYMENT }}" \
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}

        # Terraform Version
      - name: Terraform Version
        working-directory: .
        run: terraform version

      # Terraform Plan - Foundation Infra
      - name: Terraform Plan - Foundation Infrastructure
        working-directory: .
        run: |
          terraform plan \
            -target=module.resource_group \
            -target=module.log-analytics \
            -target=module.network \
            -target=module.key-vault \
            -var-file="environments/${ENV}/${ENV}.tfvars" \
            -out=tfplan-foundation
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}

      # Terraform Apply
      - name: Terraform Apply - Foundation Infrastructure
        working-directory: .
        run: terraform apply -auto-approve tfplan-foundation
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
