name: Terraform Plan Validation

on:
  workflow_dispatch:

jobs:
  Terraform-Plan-Validation:
    runs-on: ubuntu-latest
    outputs:
      env_name: ${{ steps.detect-env.outputs.env }}
      tfvars_file: ${{ steps.detect-env.outputs.tfvars_file }}

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      # Determine Environment & TFVARS File Based On Branch That Static Analsis Ran On - Workflow Dispatch
      - name: Determine Environment Based On Branch
        id: detect-env
        run: |
          if [ "$GITHUB_EVENT_NAME" == "workflow_dispatch" ]; then
             BRANCH="${GITHUB_REF#refs/heads/}"
           else
             BRANCH="${{ github.event.workflow_run.head_branch }}"
           fi

          case "$BRANCH" in
            dev) ENV="dev" ;;
            staging) ENV="staging" ;;
            main) ENV="production" ;;
            *) echo "Invalid Branch: $BRANCH"; exit 1 ;;
          esac

          TFVARS_FILE="environments/${ENV}/${ENV}.tfvars"

          echo "ENV=$ENV" >> $GITHUB_ENV
          echo "TFVARS_FILE=$TFVARS_FILE" >> $GITHUB_ENV

          echo "env=$ENV" >> $GITHUB_OUTPUT
          echo "tfvars_file=$TFVARS_FILE" >> $GITHUB_OUTPUT

          echo "Environment: $ENV"
          echo "Using TFVARS file: $TFVARS_FILE"

      # Clear Cahce
      - name: Clear Cache
        run: |
          echo "Cleaning Cache..."

          rm -rf .terraform .terraform.lock.hcl

          rm -rf environments/${ENV}/.terraform
          rm -f environments/${ENV}/.terraform.lock.hcl

          echo "Cleanup Complete"

      # Remove Backend Block File
      - name: Remove Backend.tf
        run: |
          rm -f backend.tf
          echo "Backend.tf Removed Successfully"

      # List Modules
      - name: List Module Folders
        run: ls -l modules/

      # Terraform
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: latest

      # Terraform Version
      - name: Terraform Version
        working-directory: .
        run: terraform version

      # Terraform Init
      - name: Initialize Terraform
        working-directory: .
        run: terraform init -backend=false -var-file="${TFVARS_FILE}"

      # Terraform Plan
      - name: Terraform Plan
        run: |
          terraform plan \
            -var-file="${TFVARS_FILE}" \
            -out=tfplan
        env:
          ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
          ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}

  trigger-backend-check:
    name: Trigger Backend Check
    runs-on: ubuntu-latest
    needs: Terraform-Plan-Validation

    env:
      ENV: ${{ needs.Terraform-Plan-Validation.outputs.env_name }}
      TFVARS_FILE: ${{ needs.Terraform-Plan-Validation.outputs.tfvars_file }}

    steps:
      - name: Trigger Terraform Plan Validation Workflow
        uses: actions/github-script@v6
        with:
          github-token: ${{ secrets.PAT_TOKEN }}
          script: |
            await github.rest.actions.createWorkflowDispatch({
              owner: context.repo.owner,
              repo: context.repo.repo,
              workflow_id: "terraform-backend-check.yml",
              ref: context.ref,
            });
